{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "no-tabs":"off",
        "indent": ["error", "tab"],
		"no-plusplus":"off",
		"class-methods-use-this": "off"
    }
}
